[submodule "bmi_calculator"]
	path = bmi_calculator
	url = https://github.com/vathuglife/bmi_calculator.git
[submodule "FolderBrowser"]
	path = FolderBrowser
	url = https://github.com/vathuglife/FolderBrowser.git
[submodule "PhotoShooter"]
	path = PhotoShooter
	url = https://github.com/vathuglife/PhotoShooter.git
[submodule "NationalExamReporter"]
	path = NationalExamReporter
	url = https://github.com/vathuglife/NationalExamReporter.git
